.hero_section .Bigi_container{
    background-color: white;
}
 .Acc{
    color: black;
    text-indent: 45px;
}
.Ass{
    line-height: 2;
    margin-top: 10px;
}
.access{
    text-align: center;
}
.General_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 70px;
}
.see{
    font-size: 20px;
    font-weight: bold;
}
.ro{
    line-height: 2;
    margin-top: 20px;
    color: black;
}
i{
    font-size: 30px;
}