.primary_navbar .Big-container{
    background-color: rgb(9, 9, 66);
    height: 680px;

}
.container h3{
    color: white;
    margin-left: 70px;
    margin-top: 20px;
}
.container .primary-nav{
    color: white;
    margin-top: 29px;
    margin-right: 100px;
    
}
.display{
    display: flex;
    gap: 20px;
}
.menu{
    display: none;
}
.container{
    display: flex;
    justify-content: space-between;
}
.medium_container{
    width: 1450px;
    margin: auto;

    
}
input[type="btn"]{
    background: linear-gradient(-90deg, rgb(166, 20, 166), rgb(248, 89, 89));
    height: 40px;
    width: 180px;
    font-size: 20px;
    margin-top: -10px;
    text-align: center;
    border: none;
    border-radius: 10px;
}
.hire{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.best{
    margin-left: 65px;
}
h2{
    font-size: 40px;
    color: white;
}
span{
    color: brown;
}
.pro{
    margin-top: 20px;
    color: white;
    font-size: 18px;
    line-height:2;
}
input[type="button"]{
    margin-top: 50px;
    background: linear-gradient(-90deg, rgb(166, 20, 166), rgb(248, 89, 89));
    height: 40px;
    width: 180px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
}
.img{
    margin-right: 200px;
    background: linear-gradient(360deg, rgb(221, 124, 221), rgb(230, 114, 114));
    border-radius: 12px;
    width: 330px;
    height: 370px;
    
}